# .gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Local .tofu directories
**/.tofu/*
**/.terraform/*

# Ignore plan output files
plan.out

# Other Files
*.log
*.bak
*.swp
*.tmp
*.gz
*.tgz
*.tar
